.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  min-height: 80%;
  margin: auto;
  color: var(--text-color);
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: var(--card-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--shadow-color);
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--heading-color);
}

.company {
  font-weight: bold;
  color: var(--company-color);
}

.dates {
  font-style: italic;
  color: var(--dates-color);
}

.description {
  margin-top: 10px;
  color: var(--description-color);
  text-align: justify;
}

@media (min-width: 768px) {
  .container {
    width: 720px; /* Set a specific width for larger screens */
    max-width: 800px; /* Optional: Limit the maximum width */
  }
}
